/* styles */

@font-face {
      src: url('fonts/geo.ttf');
      font-family: font;
}

* {
      margin: 0;
      padding: 0;
      text-align: center;
      /*background-color: #34495e;*/
      background-color: #3498db;
}

#header {
      padding: 35px;
      font-family: header;
      color: white;
}

#dest-entry {
      margin-bottom: 15px;
      padding: 15px;
      border-style: solid;
      font-size: 20px;
      background-color: white;
}

#submit {
      margin-bottom: 15px;
      padding: 15px;
      border-style: solid;
      font-size: 20px;
      background-color: #7f8c8d;
}

#output { /*output being where the route is displayed*/
      font-size: 25px;
      color: white;
      padding-bottom: 15px;
}

h2 {
      padding: 30px;
}

#container {
      margin-left: auto;
      margin-right: auto;
      width: 700px;
}

#route-list {
      float: left;
      width: 200px;
      font-family: font;
}

#route-list  ul {
      list-style: none;
}

#route-list a {
      text-decoration: none;
      color: black;
}

#route-list a:hover {
      text-decoration: underline;
}

#station-list {
      float: right;
      width: 500px;
      font-family: font;
}

footer {
      padding-top: 500px;
      font-size: 15px;
      color: white;
}
